// Variables
$bg-color: #fff;

// Mixins
@mixin diagBg($color) {
  background: linear-gradient(-45deg, $color 50%, rgba(255, 255, 255, 0.5) 50%);
}

.container {
  max-width: 1110px;
  margin: auto;
  width: 100%;
}
.cat-center {
  text-align: center;
  padding-top: 40px;
}
.categoria{
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 28px;
  text-align: center;
}

.row {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}

html,
body {
  background: $bg-color;
}

li {
  text-decoration: none;
  list-style: none;
}

a:link{
  text-decoration: none;
}


.product {
  box-shadow: 0px 10px 20px #DCD9FA;
  width: 15em;
  min-width: 20em;
  height: auto;
  border-radius: 15px;
  margin: 1.5em;
  overflow: hidden;
  position: relative;
  flex: auto;  
  cursor: pointer;
  transition: background ease-in 0.4s;
  &:hover {
    background: #18CE94;
    color: #fff;
  }
  img {
    width: 100%;
    max-width: 100%;
    height: auto !important;
    text-align: center;
    
  }
  &_targeta {
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #000;
    h4 {
      font-size: 1em;
      margin: 1em 0;
      text-decoration: none;
    }
    a:link, a:visited, a:active {
      text-decoration:none;
  }
    &:hover {
      color: #ffffff;
    }
  }
}