@import 'config';
@import 'menu';
@import 'footer';
@import 'category';
@import 'carousel';
@import 'carouselitem';
@import 'productRelated';
@import 'login';
@import 'btn';

a{
    color: inherit;
    text-decoration: none;
    outline: none;
}

html {
    width: 100%;
    height: 100%;
}
body {
    padding: 0;
     margin: 0;
    font-family: 'Raleway', sans-serif;

}
